
<h2>Hello World!</h2>
<p><small>Posted on February 21, 2025</small></p>
<p>Eric Lander once said 
    "Things that are beautiful have a communicative power that things that are not beautiful do not".
    When I was studying data visualization I was struck by the beauty that could be seen in data 
    and it's ability to create understanding. I was studying biomedical engineering at the same time so 
    I often used data visualization to help me understand complex biomedical data. 
    I've recently become interested in the impact of the gut microbiome on overall human health, so 
    I hope to share some of that research here and use data visualization to make it more understandable.
    I've just taken my previous website (flashbit.com) off of AWS and will probably forward it to this page.
    So if you are looking for flashbit and ended up here, that's why. I'm not sure which url I like better.
    Maybe some day I'll use them for two different purposes, but for now, this is my focus.                 
</p>
