<h2>Fun with Cubic Bezier curves in SVG</h2>
<p><small>Posted on February 28, 2025</small></p>
<svg id="mandala1" width="542" height="537" viewBox="0 0 142 137" fill="none" xmlns="http://www.w3.org/2000/svg">
</svg>         
<p>I created a simple mandala using Cubic Bezier curves in SVG. 
    I'll experiment with different ways to create mandalas with the 
    goal of creating interactive data visualizations. This one is static
    and is created using javascript to create SVG elements. The key to the round
    nature of mandalas was the transform rotation attribute in the SVG Path element.
</p>

<script src="static/js/mandalas/mandala1.js" type="module" defer></script>

