<h2>Layers of serenity</h2>
<p><small>Posted on March 17, 2025</small></p>
<div class="tooltip"></div>
<svg id="mandala6" width="600" height="400" viewBox="0 00 192 200" fill="none" xmlns="http://www.w3.org/2000/svg">
</svg>
<p>I've started adding a javascript driven tooltip here, although it still needs some work. 
    For the tooltip to work on a curly bracket, the curly bracket  
     has to be more than just lines, it has to be a filled shape. So I changed the way the 
    layering works. Until now my code has started with the center circle then added "layers" 
    from the inside out.  But If I want the outer layers to be behind the inner layers, javascript 
    really wants the outer layers to be added first. So, now I have to change my thinking about how 
    I write the code for these, the inner layers have to come after the outer layers. 
    Weird, I know. 
</p>            


<script src="static/js/mandalas/mandala6.js" type="module" defer></script>

