<article id="article14">
    <h2><a href="{{ url_for('render_post', post_id='13')}}">Zooming mandalas</a></h2>
    <p><small><text>Posted on April 16, 2025</text></small></p>
    <div class="tooltip"></div>
    <!-- <svg id="mandala11" width="500" height="500" viewBox="0 00 292 260" fill="none" xmlns="http://www.w3.org/2000/svg"> -->
    <svg id="mandala11" width="500" height="500" viewBox="0 00 1000 1000" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg>
    <button id="zoom-in">Zoom In</button>
    <button id="zoom-out">Zoom Out</button>
    <p> This one is a collection of 36 mandalas. I added zoom in and zoom out buttons
        so you can see the beauty of Scalable Vector Graphics. Since they are 
        vector based - they are defined by mathematical equations, not fixed pixels,
        they can zoom in and out without losing their quality and shape. This 
        allows us to comfortably represent a large number data points. Each of those, though could represent a cluster so 
        that clicking on it brings us into a visualization of the cluster.  
        Next step: make this mandala a composite shape so that I can make a mandala of mandalas.
    </p>
    <script src="/static/js/mandalas/mandala11.js" type="module" defer></script>
</article>
