<article id="article10">
    <h2><a href="{{ url_for('render_post', post_id='10')}}">Composite shapes </a></h2>
    <p><small>Posted on April 5, 2025</small></p>
    <div class="tooltip"></div>
    <svg id="mandala10" width="600" height="400" viewBox="0 00 292 250" fill="none" xmlns="http://www.w3.org/2000/svg">
    </svg>
    <p>
        This is the first mandala I've made that is using the new 'composite shapes'. Composite
        shapes are shapes that are made up of multiple other shapes. If you try out the interactions
        on this one - hover or click or swipe on part of it - you'll see that these dotted arcs are 
        treated as one shape. This will let us create more complex and interesting
        shapes without having to recreate each of the parts individually. 
    </p>
    <script src="/static/js/mandalas/mandala10.js" type="module" defer></script>
</article>