<article id="article13">
    <h2><a href="{{ url_for('render_post', post_id='13')}}">Zooming mandalas</a></h2>
    <p><small><text>Posted on April 16, 2025</text></small></p>
    <div class="tooltip"></div>
    <!-- <svg id="mandala11" width="500" height="500" viewBox="0 00 292 260" fill="none" xmlns="http://www.w3.org/2000/svg"> -->
    <!-- <svg id="mandala13" width="400" height="400" viewBox="0 0 400 400" fill="none" class="draggable" xmlns="http://www.w3.org/2000/svg">
        </svg> -->
    <svg id="mandala13" width="500" height="500" viewBox="0 0 1000 1000" fill="none" class="draggable" xmlns="http://www.w3.org/2000/svg">
        </svg>
    <button id="zoom-in" class="zoom-button">Zoom In</button>
    <button id="zoom-out" class="zoom-button">Zoom Out</button>
    <canvas id="myCanvas" width="1" height="1"></canvas>

    <p> This one is a mandala of mandalas. I added zoom in and zoom out buttons
        so you can see the beauty of Scalable Vector Graphics. Since they are 
        vector based - they are defined by mathematical equations, not fixed pixels,
        they can zoom in and out without losing their quality and shape. This 
        allows us to comfortably represent a large number data points. Each of those, though could represent a cluster so 
        that clicking on it brings us into a visualization of the cluster.  
    </p>
    <script src="/static/js/mandalas/mandala13.js" type="module" defer></script>
</article>
