<h2>T-shirt Mandala</h2>
<p><small>Posted on March 4, 2025</small></p>
<svg id="mandala2" width="570" height="570" viewBox="0 0 142 137" fill="none" xmlns="http://www.w3.org/2000/svg">
</svg>         
<p>I will get to creating some sophisticated data visualizations,
    but this one made me laugh today, so I had to share it. 
    I'm creating a collection of shapes that will be used 
    to represent different kinds of data. I had these elegant
    little curves that I called palm trees but when I was 
    fiddling with the stroke width this one made me laugh because
    they look like little t-shirts. 
</p>
<script src="/static/js/mandalas/mandala2.js" type="module" defer></script>
