<article id="article6">
    <h2>The perfect spiral.</h2>
    <p><small>Posted on March 10, 2025</small></p>
    <svg id="mandala4" width="470" height="470" viewBox="0 0 192 187" fill="none" xmlns="http://www.w3.org/2000/svg">
    </svg>         
    <p>I started trying to make a spiral using Bezier curves. Bezier curves use 
        control points that determine the curves. I could not get a spiral that I was 
        happy with. They were crooked! They weren't perfect. So I changed the code to 
        calculate 360 different lines for each turn around the center. The first time 
        I ran that I knew it was right. It was perfect and looked beautiful. I now have spirals 
        in my toolbox. They can take a size parameter. I've hardcoded them (for now) to have
        two turns around the center because I liked the aesthetics of that. It will be 
        easy to add a parameter for more turns later if necessary. 
    </p>

    <script src="/static/js/mandalas/mandala4.js" type="module" defer></script>
</article>