<article id="article12">
    <h2><a href="{{ url_for('render_post', post_id='11')}}">Potted plants </a></h2>
    <p><small>Posted on April 7, 2025</small></p>
    <div class="tooltip"></div>
    <svg id="mandala9" width="600" height="400" viewBox="0 00 292 250" fill="none" xmlns="http://www.w3.org/2000/svg">
    </svg>
    <p> I created a new shape that I call a potted plant. It's my second 'composite shape'. It's 
        made up of 3 droplets and a dot. When you interact with it, it should act like a single 
        shape. I'm finding that different shapes have different vibes. I added the wave to this one
        because the mandala was filled with shapes that were very light. There was a lot of white in it. 
        The wave filled in with a dark color here is much bolder than the other shapes. 
        It adds some intensity to the mandala. 
    </p>
    <script src="/static/js/mandalas/mandala9.js" type="module" defer></script>
</article>