<article id="article9">
    <h2><a href="{{ url_for('render_post', post_id='9')}}">Random impermanence</a></h2>
    <p><small>Posted on March 30, 2025</small></p>
    <svg id="mandalarandom" width="600" height="600" viewBox="0 00 492 450" fill="none" xmlns="http://www.w3.org/2000/svg">
    </svg>
    <p>Here we create a random mandala each time the page is refreshed. 
        It uses random combinations of the shapes I've created so far. I'll add more
        and better shapes along the way. This is a good step towards using these 
        as data visualizations since we'll want the mandalas to be a visual representation 
        of data. </br>
        Some of these mandalas will be more aesthetically pleasing than others. 
        I sometimes find myself wanting to go back to the last one. But it's gone
        forever. Which reminds me of sand mandalas! Traditionally the artists 
        destroy them when they're finished. To remind themselves of the lesson 
        of impermanence. Nothing lasts forever. 
        "It is not impermanence that makes us suffer. 
        What makes us suffer is wanting things to be permanent when they are not."
        Thich Nhat Hanh
    </p>
    <script src="/static/js/mandalas/mandalarandom.js" type="module" defer></script>
</article>