<h2>Just for the beauty of it. </h2>
<p><small>Posted on March 15, 2025</small></p>
<svg id="mandala5" width="470" height="470" viewBox="0 0 192 187" fill="none" xmlns="http://www.w3.org/2000/svg">
</svg>
<p>For today's mandala I added an arc shape lined with dots. In it's current form 
    it doesn't translate well to data visualization; I was just going for beauty. My next step is 
    to add Flask to this site, and I'll also probably pull in D3 at some point. The code 
    is currently vanilla javascript, but with Flask I'll be able to do some of my favorite language: Python!! 
    I see beauty and elegance and symmetry in software and data and for me these mandalas are an expression
    of that. 
</p>

<script src="/static/js/mandalas/mandala5.js" type="module" defer></script>
