<article id="article9">
    <h2><a href="{{ url_for('render_post', post_id='8')}}">Says hello and waves</a></h2>
    <p><small>Posted on March 26, 2025</small></p>
    <div class="tooltip"></div>
    <svg id="mandala7" width="600" height="400" viewBox="0 00 192 150" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg>
    <p>This mandala was inspired by a mosaic that I saw in Florida. I liked the wave shape, so for 
        this I added a wave shape to the toolbox. It wasn't easy to get the spirals perfect and keep it as one 
        solid object. Instead of having each spiral start from the center, I had it start on the left,
        spiral in to the center, then spiral out with a wider radius step around and to the right. 
        Now I have that shape in the toolbox. It can take a size parameter. Maybe I'll add direction later
        so that we can specify clockwise or counterclockwise. 
    </p>

    <script src="/static/js/mandalas/mandala7.js" type="module" defer></script>
</article>