<article id="article12">
    <h2><a href="{{ url_for('render_post', post_id='12')}}">It sparks joy </a></h2>
    <p color:red><small><text>Posted on April 11, 2025</text></small></p>
    <div class="tooltip"></div>
    <svg id="mandala12" width="500" height="500" viewBox="0 00 292 260" fill="none" xmlns="http://www.w3.org/2000/svg">
    </svg>
    <p>I added a new curved droplet shape. The simple droplet that I already had, 
        you can see in the outer layer of this mandala. 
        I was determined to add this new composite shape made up of three curved droplets. 
        It took way longer than it should have to figure out how to get the exact curves
        that I wanted and to make sure that resizing it maintains the same joyful shape. 
        I really didn't want a flat pancake or a tall beanpole. 
        The result finally feels exactly like the joyful shape that I imagined! 
        So maybe it was worth it and now I can move on with my life!  
    </p>
    <script src="/static/js/mandalas/mandala12.js" type="module" defer></script>
</article>