<article id="article4">
    <h2><a href="{{ url_for('render_post', post_id='4')}}">Circle layers (and teeth) </a></h2>
    <p><small>Posted on March 6, 2025</small></p>
    <svg id="mandala4" width="470" height="400" viewBox="0 0 192 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg>
    <p>For this mandala I added methods to draw layers of circles. To work for
        future data visualizations, I wanted the javascript to take a size of and number of items for 
        the layer and calculate where to place the circle as well as a smaller circle that
        is centered between each one in the outer part of the layer. The smaller circles are 
        aesthetically pleasing and may be useful for our data visualizations, we'll see. 
        I added a simple tooltip since we will need those for the interactivity of our data visualizations, 
        so this is the first step towards that. 
        The outermost layer of this one is made up of some Y shaped objects that I call
        palm trees. I added them here because when they were placed next to each other they looked like teeth to me which made me laugh. 
        At some point the data will somewhat drive which colors and which shapes are chosen. I already get hit with 
        surprises (like teeth and t-shirt shapes) when I'm experimenting. Finding out what shapes and colors the algorithm suggests for different datasets 
        will be even more surprising I'm sure. 
    </p>
    <script src="/static/js/mandalas/mandala4.js" type="module" defer></script>
</article>