<!doctype html>
    <div id="header">
        {% include 'header.html' %}
    </div>
<body>
    <div class="container">
        <div class="content">
            <article id="article10">
                {% include 'posts/post9.html' %}
                </article>
            <article id="article9">
                {% include 'posts/post8.html' %}
            </article>
            <article id="article8">
                {% include 'posts/post7.html' %}
            </article>
            <article id="article7">
                {% include 'posts/post6.html' %}
                </article>
            <article id="article6">
                {% include 'posts/post5.html' %}
            </article>
            <article id="article5">
                {% include 'posts/post4.html' %}
            </article>
            <article id="article4">
                {% include 'posts/post3.html' %}
                </article>
            <article id="article3">
                {% include 'posts/post2.html' %}
            </article>
            <!-- <article id="article2">
                <h2>Advances in human gut microbiome research show its role in health. I have so many questions.</h2>
                <p><small>Posted on February 26, 2025</small></p>
                <p>How much influence does our gut microbiome have on our health? There are so many diseases that we have yet to understand. 
                    Could some of them be related to our microbiome? In my reading of recent microbiome research so far, these are the health issues 
                    that I've seen come up:
                    Inflammatory Bowel Disease (IBD), Irritable Bowel Syndrome (IBS), Coeliac Disease, Type 2 Diabetes, Colorectal Cancer,
                    Obesity, Hepatic Steatosis (liver), Rheumatoid Arthritis, Gout, Psoratic Arthritis, Eczema, Asthma, Kidney Disease, Acne, Osteoarthritis,
                    Depression, Anxiety, Schizophrenia, Bipolar Disorder, Autism, Parkinson's and Alzheimer's Disease. 
                    It's a lot, I know. I started this site because I want to create beautiful mandala data visualizations, so I will most likely
                    start with some simple data sets. But I'd like to get to the point where I can show some data from scientific research.
                    Will that help to clarify things? Maybe. 
                </p>
                <p>Can changes in diet heal gut problems and their corresponding health conditions? In my reading I'm seeing that adding fiber, probiotics, 
                    and fermented foods to our diets can help. Removing some harmful ingredients from processed foods is a good idea.   
                    And while not a diet change, also FMT (Fecal Microbiota Transplantation). There has been some success with FMT but could those same
                    effects come further upstream, by restoring the microbiome from things like probiotics? 
                </p>
                <p>Some important papers in microbiome research include: 
                    <ul>
                        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC4290017/">"The gut microbiome in health and in disease" (PMC, 2015)</a> 
                            A review of research showing the microbiome's role in metabolic, immune and neurological health. </li>
                        <li><a href="https://www.frontiersin.org/journals/microbiology/articles/10.3389/fmicb.2022.999001/full">
                            Human gut microbiota in health and disease" (Frontiers, 2022)</a>
                        </li>
                    </ul>
                </p>
                <p>There are some accessible books out there. You could search by 'microbiome' or 'gut health'. 
                    One that I've read is Super Gut by William Davis. It's very accessible
                    and includes a step by step guide to healing your gut. Some people criticize it for it's lack of scientific citations, but 
                    I recommend it if you're looking for a clear guide to healing. 
                </p>
                    
            </article> -->

            <article id="article1">
                {% include 'posts/post1.html' %}
            </article>
        </div>

        {% include 'sidebar.html' %}
    </div>

    <footer>
        &copy; 2025 MandalaVis.com. All rights reserved.
    </footer>

    <script src="static/js/mandala.js" type="module"></script>

</body>
</html>
