<aside class="sidebar">
    <h3>About MandalaVis</h3>
    <p>I am planning to use this space to explore some data visualization techniques
        inspired by mandalas. 
        My background is a combination of software development and biomedical engineering. 
        My top two interests are
        <ol>
            <li>current research on the human gut microbiome and it's impact on overall health and</li>
            <li>developing beautiful mandala inspired data visualizations.</li>
        </ol>
        I will combine these two things so I'll post some of the latest microbiome research and I'll make some 
        data visualizations with the goal of clarifying the data. 
    </p>
    <p>
        Follow me on<br/>
        <a href="https://bsky.app/profile/mbsmrtic.bsky.social" target="_blank">
            <img src="{{ url_for('static', filename='images/bluesky.png') }}" width="175" height="50" alt="Follow me on Bluesky!"> 
        </a>
    </p>
    <!-- <h3>Categories</h3>
    <ul>
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Category 2</a></li> -->
        <!-- Add more categories as needed -->
    <!-- </ul> -->
</aside>
