<html>
    {% if not omit_header %}
        {% include 'header.html' %}
    {% endif %}

    <body>
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>  <!-- content -->
        </div>  <!-- container-->
        <script src="https://d3js.org/d3.v7.min.js"></script>
    </body>
    {% if not omit_header %}
        <footer>
            &copy; 2025 MandalaVis.com. All rights reserved.
        </footer>
    {% endif %}
    
</html>