   <style>
        #gridLines {
            stroke: green;
            stroke-width: .2;
        }
        #points {
            fill: magenta;
        }
        #labelsAndGridLines {
            color: red;
            font-size: 10;
        }
        #labels {
            font-size: 8;
            fill: black;
        }

    </style>

    <g id="labelsAndGridlines">
        <g id="gridLines">
            {% for i in range(10, 400, 10) %}
                <path d="M{{ i }} 0 V400"/>
            {% endfor %}

            {% for i in range(10, 400, 10) %}
                <path d="M0 {{ i }} H400"/>
            {% endfor %}

            <path stroke="green" stroke-width="1" d="M0 50 H400"/>        
            <path stroke="green" stroke-width="1" d="M50 0 V400"/>
        </g>
    
        <g id="labels">
            <text x="0" y="49" font-size="10">x</text>
            <text x="51" y="3" font-size="10">y</text>

            {% for i in range(20, 400, 20) %}
                <text x="47" y="{{i}}">{{i}}</text>
            {% endfor %}

            {% for i in range(20, 400, 20) %}
                <text x="{{i}}" y="49">{{i}}</text>
            {% endfor %}
        </g>
</g>
