<!doctype html>
    <div id="header">
        {% include 'header.html' %}
    </div>
<body>
    <div class="container">
        <div class="content">
            {% for post_id in range(1, 16)| reverse %}
                {% include 'posts/post' ~ post_id ~ '.html' %}
            {% endfor %}
        </div>

        {% include 'sidebar.html' %}
    </div>

    <footer>
        &copy; 2025 MandalaVis.com. All rights reserved.
    </footer>

    <script src="static/js/mandala.js" type="module"></script>

</body>
</html>
