<!doctype html>
    <div id="header">
        {% include 'header.html' %}
    </div>
<body>
    <div class="container">
        <div class="content">
            {# Note: Each of the posts we include here will need access to mandalaData
                So when a post is added here, be sure that we are creating it's mandalaData in 
                the route in app.py app.route(/)  
                Here we are including post14 and whatever posts are in mandalaData from app.py #}
            
            {% with omit_header=true %}
                {% for post_id in mandalaData %}
                    {% include 'postv2.html' %}
                {% endfor %}
            {% endwith %}
            
            {% with post_id=14 %}
                {% include 'posts/post14.html' %}
            {% endwith %}
        </div>

        {% with sidebar_data=sidebar_data %}
            {% include 'sidebar.html' %}
        {% endwith %}
    </div>

    <footer>
        &copy; 2025 MandalaVis.com. All rights reserved.
    </footer>

    <script src="static/js/mandala.js" type="module"></script>

</body>
</html>
