<!doctype html>
    <div id="header">
        {% include 'header.html' %}
    </div>
<body>
    <div class="container">
        <div class="content">
            {% include 'posts/post13.html' %}
            {% include 'posts/post12.html' %}
            {% include 'posts/post11.html' %}
            {% include 'posts/post10.html' %}
            {% include 'posts/post9.html' %}
            {% include 'posts/post8.html' %}
            {% include 'posts/post7.html' %}
            {% include 'posts/post6.html' %}
            {% include 'posts/post5.html' %}
            {% include 'posts/post4.html' %}
            {% include 'posts/post3.html' %}
            {% include 'posts/post2.html' %}
            {% include 'posts/post1.html' %}
        </div>

        {% include 'sidebar.html' %}
    </div>

    <footer>
        &copy; 2025 MandalaVis.com. All rights reserved.
    </footer>

    <script src="static/js/mandala.js" type="module"></script>

</body>
</html>
