{% extends 'base.html' %}

{% block content %}
    {% with prev_url=mandalaData.get('prev_url') %}
        {% if prev_url %}
            <a href="{{ prev_url }}" class="prev-post">Previous</a>
        {% endif %}
    {% endwith %}
    {% with next_url = mandalaData.get('next_url') %}
        {% if next_url %}
            <a href="{{ next_url }}" class="next-post">Next</a>
        {% endif %}
    {% endwith %}
    {% with mandala_data=mandalaData.get(post_id) %}
        <article id="article{{ post_id }}" post_id="{{ post_id }}">

            <h2><a href="{{ url_for('render_post', post_id=post_id)}}">{{ mandala_data.title }}</a></h2>
            <p><small><text>Posted on {{ mandala_data.posted_date_str }}</text></small></p>

            <p> {{ mandala_data.post_text_html|safe }} </p>            
            
            <div class="tooltip"></div>

            <div class="grid-container">

                <div class="controlpanel">
                    <!-- <button class="hide-btn" onclick="togglePanel(this)">Hide</button> -->
                    <div class="panel-header">
                        <button class="toggle-btn" aria-label="Toggle control panel"   
                            onclick="togglePanel(this);"
                            title="Collapse control panel">
                            <span class="arrow">◀</span>
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="field">
                            <label for="clusterdropdown">
                                Mandala Levels
                            </label>
                            <select id="clusterdropdown">
                            </select>
                        </div>
                        <div class="field">
                            <label for="shapedropdown">Shape</label>
                            <select id="shapedropdown" disabled>
                            </select>
                        </div>
                        <div class="field">
                            <label for="widthinput">Shape width</label>
                            <input id="widthinput" type="range" name="width" min="0" max="100" step="1" disabled
                                oninput="this.nextElementSibling.value = this.value">
                            <output></output>
                        </div>
                        <div class="field">
                            <label for="heightinput">Shape height</label>
                            <input id="heightinput" type="range" min="-100" max="100" step="1" disabled
                                oninput="this.nextElementSibling.value = this.value">
                            <output></output>
                        </div>
                        <div class="field">
                            <label for="offset">Distance from center</label>
                            <input id="offset" type="range" min="-270" max="270" step="1" disabled
                                oninput="this.nextElementSibling.value = this.value">
                            <output></output>
                        </div>
                        <div class="field">
                            <label for="anglestart">Rotation &#8635;</label>
                            <input id="anglestart" type="range" max="180" step="1" disabled
                                oninput="this.nextElementSibling.value = this.value">
                            <output></output>
                        </div>
                        <div class="field">
                            <label for="zindexinput">Back &longrightarrow; Front</label> 
                            <input id="zindexinput" type="range" min="-10" max="10" step="1" disabled
                                oninput="this.nextElementSibling.value = this.value"></input>
                            <output></output>
                        </div>
                        <div class="field">
                            <label for="strokecolor">Stroke color</label>
                            <input id="strokecolor" type="color" disabled
                                oninput="this.nextElementSibling.value = this.value">
                            <output></output>
                        </div>
                        <div class="field">
                            <label for="strokewidth">Stroke width</label>
                            <input id="strokewidth" type="range" step="1" max="30"
                                disabled
                                oninput="this.nextElementSibling.value = this.value">
                            <output></output>
                        <div class="field">
                            <label for="fillcolor">Fill color</label>
                            <input id="fillcolor" type="color" disabled
                                oninput="this.nextElementSibling.value = this.value">
                            <output></output>
                        </div>
                        </div>
                        <div class="field">
                            <label for="fillcolordropdown">Some predefined fill colors</label>
                            <select id="fillcolordropdown" disabled></select>
                        </div>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
                        <div class="mandala-controls">
                            <button id="add-mandala-level"  
                                    class="icon-btn add-btn" 
                                    title="Add mandala level">
                                <i id = "add-mandala-level" class="fa-solid fa-plus"></i>
                            </button>

                            <button id="delete-mandala-level"  
                                    class="icon-btn delete-btn" 
                                    title="Delete mandala level" 
                                    disabled>
                                <i id="delete-mandala-level" class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mandalaarea">
                    <svg id="mandala{{ post_id }}svg" width="600" height="600" 
                        viewBox="0 00 600 600" fill="none" 
                        transform="matrix(1 0 0 1 0 0)"
                        xmlns="http://www.w3.org/2000/svg">
                        {# {% include 'grid.html' %} #}
                        <g id="mandala{{ post_id }}" transform="matrix(1 0 0 1 0 0)">
                        </g>
                        </svg>
                    <div class="zoom-controls">
                        <button id="zoom-in-{{ post_id }}" class="zoom-button">Zoom In</button>
                        <button id="zoom-out-{{ post_id }}" class="zoom-button">Zoom Out</button>
                    </div>    
                </div>
            </div> 
            
            <div></div>

            <div id="mandala{{ post_id }}-data" data-mandala='{{ mandala_data.mandala_data_json_str }}'></div>
        </article>
    {% endwith %}
    <script src="/static/js/mandalav2.js" type="module" defer></script>
    <script>
        function togglePanel(btn) {
            const panel = btn.closest(".controlpanel");
            panel.classList.toggle('collapsed');
            const arrow = btn.querySelector('.arrow');
            let isCollapsed = panel.classList.contains('collapsed');
            arrow.textContent = isCollapsed ? '▶' : '◀';
            arrow.title = isCollapsed ? 'Expand' : 'Collapse';
            const panelBody = panel.querySelector(".panel-body");
            if (panelBody.style.display === "none") {
                panelBody.style.display = "block";
                // btn.textContent = "Hide";
            } else {
                panelBody.style.display = "none";
                // btn.textContent = "Show";
            }
        }
    </script>

{% endblock %}
