{% extends 'base.html' %}

{% block content %}
    {% with prev_url=mandalaData.get('prev_url') %}
        {% if prev_url %}
            <a href="{{ prev_url }}" class="prev-post">Previous</a>
        {% endif %}
    {% endwith %}
    {% with next_url = mandalaData.get('next_url') %}
        {% if next_url %}
            <a href="{{ next_url }}" class="next-post">Next</a>
        {% endif %}
    {% endwith %}
    {% with mandala_data=mandalaData.get(post_id) %}
        <article id="article{{ post_id }}" post_id="{{ post_id }}">
            <h2><a href="{{ url_for('render_post', post_id=post_id)}}">{{ mandala_data.title }}</a></h2>
            <p><small><text>Posted on {{ mandala_data.posted_date_str }}</text></small></p>
            <div class="tooltip"></div>
            <svg id="mandala{{ post_id }}svg" width="600" height="600" 
                viewBox="0 00 600 600" fill="none" 
                transform="matrix(1 0 0 1 0 0)"
                xmlns="http://www.w3.org/2000/svg">
                {# {% include 'grid.html' %} #}
                <g id="mandala{{ post_id }}" transform="matrix(1 0 0 1 0 0)">
                </g>
                </svg>
            <button id="zoom-in-{{ post_id }}" class="zoom-button">Zoom In</button>
            <button id="zoom-out-{{ post_id }}" class="zoom-button">Zoom Out</button>
            <div></div>
            <p> {{ mandala_data.post_text_html|safe }}
            </p>
            <div id="mandala{{ post_id }}-data" data-mandala='{{ mandala_data.mandala_data_json_str }}'></div>
        </article>
    {% endwith %}
    <script src="/static/js/mandalav2.js" type="module" defer></script>
{% endblock %}
