<aside class="sidebar">
    <h3>About MandalaVis</h3>
    <p>I am planning to use this space to explore some data visualization techniques
        inspired by mandalas. 
        My background is a combination of software development and biomedical engineering. 
        My top two interests are
        <ol>
            <li>current research on the human gut microbiome and it's impact on overall health and</li>
            <li>developing beautiful mandala inspired data visualizations.</li>
        </ol>
        I will combine these two things so I'll post some of the latest microbiome research and I'll make some 
        data visualizations with the goal of clarifying the data. 
    </p>
    <p>
        Follow me on<br/>
        <a href="https://bsky.app/profile/mbsmrtic.bsky.social" target="_blank">
            <img src="{{ url_for('static', filename='images/bluesky.png') }}" width="175" height="50" alt="Follow me on Bluesky!"> 
        </a>
    </p>
    <h3>Recent posts</h3>
    <ul>
        {% for post_num in sidebar_data %}
            <li>
                <a href="/post/{{post_num}}">{{ sidebar_data.get(post_num)[0] }}</a> </br>
                <span class="meta">{{ sidebar_data.get(post_num)[1] }}</span>
            </li>
        {% endfor %}
        <li>
            <a href="/post/15">Interesting white space, interactivity and data driven(ness)</a>
            </br>
            <span class="meta">May 03, 2025</span>
        </li>
        <li><a href="/post/14">Images for performance</a>
            </br>
            <span class="meta">April 22, 2025</span>
        </li>
        <li><a href="/post/13">Zooming mandalas</a>
            </br>
            <span class="meta">April 16, 2025</span>
        </li>
        <li><a href="/post/12">It sparks joy</a>
            </br>
            <span class="meta">April 11, 2025</span>        
        </li>
        <li><a href="/post/11">Potted plants</a>
            </br>
            <span class="meta">April 7, 2025</span>
        </li>
        <li><a href="/post/10">Composite shapes</a>
            </br>
            <span class="meta">April 5, 2025</span>
        </li>
        <li><a href="/post/9">Random impermanence</a>
            </br>
            <span class="meta">March 30, 2025</span>
        </li>
        <li><a href="/post/8">Says hello and waves</a>
            </br>
            <span class="meta">March 26, 2025</span>
        </li>
        <li><a href="/post/7">Layers of serenity</a>
            </br>
            <span class="meta">March 17, 2025</span>
        </li>
        <li><a href="/post/6">Just for the beauty of it.</a>
            </br>
            <span class="meta">March 15, 2025</span>
        </li>
        <li><a href="/post/5">The perfect spiral.</a>
            </br>
            <span class="meta">March 10, 2025</span>
        </li>
        <li><a href="/post/4">Circle layers (and teeth)</a>
            </br>
            <span class="meta">March 6, 2025</span>
        </li>
        <li><a href="/post/3">T-shirt Mandala</a>
            </br>
            <span class="meta">March 4, 2025</span>
        </li>
        <li><a href="/post/2">Fun with Cubic Bezier curves in SVG</a>
            </br>
            <span class="meta">February 28, 2025</span>
        </li>
        <li><a href="/post/1">Hello World!</a>
            </br>
            <span class="meta">February 21, 2025</span>
        </li>
        <!-- Add more categories as needed -->
    </ul>
</aside>
